/* styles for the boost overlay */

.targetDisplay {
    background-image: url(../assets/boost_overlay.png);
    background-repeat: no-repeat;
    background-size: 12.35rem;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2.75rem;
    margin-right: 3.3rem;
    margin-bottom: 6.6rem;
    color: white;
}

.boostTarget {
    font-size: 45px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}

.speedTarget {
    margin-top: 20px;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-self: center;
    white-space: nowrap;
}