/* styles for the boost overlay */

.targetDisplay {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../assets/boost_overlay.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12.35rem;
    bottom: 0;
    right: 0;
    padding: 2.75rem;
    margin-right: 3rem;
    margin-bottom: 6.6rem;
    color: white;
}

.boostTarget {
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
    font-weight: bold;
}

.speedTarget {
    display: flex;
    justify-content: space-around;
    align-self: center;
    white-space: nowrap;
    width: 10rem;
    margin-top: 1rem;
    font-size: 2rem;
}