body {
    height: 100vh;
    width: 100vw;
    background-color: #1C1C1C;
    color: white;
    font-size: 5rem;
    font-weight: bolder;
}

p {
    text-align: center;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.series-control {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;
}

.series-control>div {
    height: 100%;
    width: 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.selected-blue {
    background-color: blue;
}

.selected-orange {
    background-color: orange;
}