.gamestats-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #10101a;
    font-size: 2rem;
    opacity: 0;
    animation: appear 1s ease-in-out forwards;
}

.gamestats-left,
.gamestats-right {
    position: absolute;
    display: flex;
    top: 17.5vh;
    width: 42.5vw;
    height: 52.5vh;
}

.gamestats-left {
    left: 2.5vh;
}

.gamestats-right {
    right: 2.5vh;
}

.gamestats-left>div>hr,
.gamestats-team-left>hr {
    border-color: var(--blue-team) !important;
}

.gamestats-right>div>hr,
.gamestats-team-right>hr {
    border-color: var(--orange-team) !important;
}

.gamestats-player {
    height: 65vh;
    width: 33.33%;
}

.gamestats-player>hr,
.gamestats-overall>div>hr {
    border: 2px solid;
}

.gamestats-player>p {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 7.5vh;
    text-align: center;
    color: white;
}

.gamestats-comparison {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 45vw;
    top: 28.25vh;
    width: 10vw;
    height: 62.5vh;
}

.gamestats-comparison>.progress {
    height: 1.5vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.gamestats-comparison>progress {
    background: var(--blue-team);
}

.gamestats-comparison>progress::-moz-progress-bar {
    background: lightcolor;
}

.gamestats-comparison>progress::-webkit-progress-value {
    background: var(--blue-team);
}

.gamestats-comparison>progress::-webkit-progress-bar {
    background: var(--orange-team);
}

.gamestats-overall {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    height: 17.5vh;
    width: 100vw;
    color: white;
}

.gamestats-overall>div {
    width: 15vw;
    text-align: center;
}

.gamestats-overall>div>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4vh;
}

.gamestats-overall-description {
    padding-top: 7.25vh;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}