/* styles for the player information */

.playerbug {
    display: flex;
    justify-content: space-between;
    width: 99.5vw;
    height: 50rem;
    padding-top: 4vh;
    padding-left: 0.25vw;
    padding-right: 0.25vw;
}

.player-row>td,
.player-boost>td {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 1.25rem !important;
    font-weight: bold;
    color: white;
}

.container {
    text-align: center;
    height: 97.5%;
    width: 100%;
}

.progress {
    height: 100%;
    width: 100%;
}

.team-info-left,
.team-info-right {
    width: 25rem;
}

.team-info-left .player-row {
    background-image: url(../assets/blue_team_banner_top.png);
    background-size: 25rem;
    background-repeat: no-repeat;
    background-position: bottom left;
    vertical-align: bottom;
    height: 2.7rem;
    padding-bottom: 2;
    font-size: 1.25rem !important;
}

.team-info-left .player-boost {
    background-image: url(../assets/blue_team_banner_bottom.png);
    background-size: 25rem;
    background-repeat: no-repeat;
    background-position: top left;
    height: 2rem;
    padding-bottom: 0.35rem
}

.team-info-left .name {
    text-align: left;
    width: 10.5rem;
    padding-left: 0.75rem;
}

.team-info-left .goals {
    text-align: center;
    width: 1.9rem;
    padding-left: 1.8rem;
}

.team-info-left .assists {
    text-align: center;
    width: 1.8rem;
    padding-left: 1.6rem;
}

.team-info-left .saves {
    text-align: center;
    width: 1.6rem;
    padding-left: 1.3rem;
}

.team-info-left .shots {
    text-align: center;
    width: 1.65rem;
    padding-left: 1.6rem;
}

.team-info-left .boostValue {
    text-align: center;
    width: 3rem;
    padding-top: 0.1rem;
    padding-left: 0.4rem;
}

.team-info-left .boostBar {
    width: 20.9rem;
    padding-top: 0.01rem;
    padding-left: 0.2rem;
}

.team-info-left .progress-bar {
    vertical-align: middle;
    height: 90%;
    width: 100%;
    margin-top: 5%;
    background-color: #ee303c;
    transition: 0.1s linear;
    transition-property: background-color;
}

.team-info-right .player-row {
    background-image: url(../assets/orange_team_banner_top.png);
    background-size: 25rem;
    background-repeat: no-repeat;
    background-position: bottom left;
    vertical-align: bottom;
    height: 2.7rem;
    padding-bottom: 2;
    font-size: 1.25rem !important;
}

.team-info-right .player-boost {
    background-image: url(../assets/orange_team_banner_bottom.png);
    background-size: 25rem;
    background-repeat: no-repeat;
    background-position: top left;
    height: 2.05rem;
    padding-bottom: 0.35rem;
}

.team-info-right .name {
    text-align: left;
    width: 10.4rem;
    padding-left: 0.9rem;
}

.team-info-right .goals {
    text-align: center;
    width: 1.875rem;
    padding-left: 1.75rem;
}

.team-info-right .assists {
    text-align: center;
    width: 1.85rem;
    padding-left: 1.55rem;
}

.team-info-right .saves {
    text-align: center;
    width: 1.575rem;
    padding-left: 1.2rem;
}

.team-info-right .shots {
    text-align: center;
    width: 1.6rem;
    padding-left: 1.625rem;
}

.team-info-right .boostValue {
    text-align: center;
    width: 2.95rem;
    padding-left: 0.55rem;
}

.team-info-right .boostBar {
    width: 20.625rem;
    padding-left: 0.15rem
}

.team-info-right .progress-bar {
    vertical-align: middle;
    height: 90%;
    width: 100%;
    background-color: #ee303c;
    transition: 0.1s linear;
    transition-property: background-color;
}

.progress-striped .progress-bar {
    height: 90%;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 0.65%;
    background-color: #FCBC51;
    background-image: linear-gradient( 45deg, rgb(252, 163, 17) 25%, transparent 25%, transparent 50%, rgb(252, 163, 17) 50%, rgb(252, 163, 17) 75%, transparent 75%, transparent);
    animation: progressAnimationStrike 0.1s;
}

@keyframes progressAnimationStrike {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}