/* styles for the information at the top */

.scorebug {
    padding: 0;
    margin: 0;
    padding-top: 1vh;
    display: flex;
    justify-content: center;
}

.team {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 1.5vh;
    height: 5vh;
    width: 50vw;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5vh;
    width: 15vw;
    color: white;
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
}

.left>.name {
    margin-left: 15vw;
}

.right>.name {
    margin-right: 15vw;
}