/* import styles for the components */

@import "./series.css";
@import "./scorebug.css";
@import "./playerbug.css";
@import "./boost.css";
@import "./gamestats.css";

/* general styles */

:root {
    --blue-team: #466fc3;
    --orange-team: #e87520;
}

body {
    font-family: sans-serif;
    position: fixed;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

tr {
    display: flex;
    vertical-align: middle;
}

td {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}