/* import styles for the components */

@import "./scorebug.css";
@import "./playerbug.css";
@import "./boost.css";

/* general styles */

body {
    position: fixed;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: url(../assets/dev/director_background.jpg);
}

tr {
    vertical-align: middle;
    display: flex;
}

td {
    margin: 0;
    padding: 0;
}